a {
  @extend .alt-font;
  font-size: 12px;
  color: $input-color;
}

a:focus, a:hover {
  text-decoration: underline;
  color: inherit;
}

.btn-default:focus, .btn-default:hover, .search-form .search-submit:focus, .search-form .search-submit:hover, section.contact form input:focus, section.contact form input:focus:active, section.contact form input:hover, section.contact form textarea:focus, section.contact form textarea:focus:active, section.contact form textarea:hover {
  color: $input-color;
}

.prof-pic {
  margin: 20px auto;
  max-width: 200px;
  max-height: 200px;
  display: block;
}


.work img {
  max-width: $full-width;
}

.wrap.container-fluid {
  padding: 0;
}

.section-background {
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-attachment: fixed;
}

.splash-background {
  @extend .section-background;
  height: 100vh;
}

/*****************
  HEADER
*****************/

.nav-transparent.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.nav-transparent.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $input-color;
}

.navbar-default .navbar-toggle {
  border-color: $input-color;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #333;
}

.navbar-default.nav-transparent {
  background-color: $transparent;
  border-color: $transparent;
}

.navbar-default.nav-transparent .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: $input-color;
}

.nav-transparent.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: $input-color;
  text-decoration: underline;
}

.fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
}

.headings {
  font-family: $headings-font-family;
  text-transform: $uppercase-font;
}

.navbar-default {
  @extend .headings;
  background-color: #fff;
  border-bottom: 2px solid $input-color;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: $input-color;
  text-decoration: underline;
  background-color: transparent;
}

.navbar-default.nav-transparent .navbar-nav>.active>a,
.navbar-default.nav-transparent .navbar-nav>.active>a:focus,
.navbar-default.nav-transparent .navbar-nav>.active>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: $input-color;
}

.navbar-default.nav-transparent .navbar-nav>li>a, .navbar-default.nav-transparent .navbar-text {
  color: #fff;
}

.main-headings {
  font-family: $main-headings-font-family;
  text-transform: $uppercase-font;
}

.divider {
  width: 50px;
  height: 3px;
  margin: 30px auto;
  background-color: $light-color;
  display: block;
  //margin-bottom: 30px;
}
.btn-default {
  @extend .alt-font;
  border: 2px solid $input-color;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

section,
.entry-content,
.page.container {
  padding: 60px 0 80px 0;
}


section.contact {
  form {
    input:hover,
    input:active:focus,
    input:focus,
    textarea:hover,
    textarea:active:focus,
    textarea:focus {
      @extend .btn-default;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

.c100 {
  float: none;
  margin: 0 auto;
}

h1 {
  @extend .main-headings;
  letter-spacing: 8px;
  font-size: 28px;
}

h2 {
  @extend .main-headings;
  letter-spacing: 2px;
  font-size: 20px;
}

h3 {
  @extend .headings;
  font-size: 18px;
}

body {
  font-family: $font-family-base;
  font-size: 12px;
  line-height: 2em;
}

.header-container {
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  @include translate(-50%,-50%);
}

/*****************
  CONTACT
*****************/

.contact form {
  textarea, input {
    @extend .btn-default;
    width: $full-width;
    padding: 9px 10px;
    background: none;
  }
}

section.contact form [type=submit]:hover, .btn:hover {
  background: $light-color;
  border-color: $input-color;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $input-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $input-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $input-color;
}
:-moz-placeholder { /* Firefox 18- */
  color: $input-color;
}

div.wpcf7-validation-errors {
  border: 2px solid red;
}

footer.content-info {
  background: $dark-color;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.work {
  .single-tile {
    position: relative;
    margin-bottom: 20px;

    .caption {
      @extend .alt-font;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      @include translate(-50%, -50%);
      padding: 9px;
      border: 2px solid $input-color;
    }
  }

  .single-tile {
    a {
      color: $input-color;
    }
  }

  .single-tile:hover, .single-tile:focus {
    .caption {
      opacity: 1;
    }
    img {
      opacity: .35;
    }
  }
}

.social-icons {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    padding: 10px;
  }
}

.glyphicon-menu-down {
  font-size: 24px;
  color: white;
}

/*****************
  SKILLS
*****************/
.c100>span {
  color: $input-color;
}

.c100:hover>span {
  color: $dark-color;
}

.c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill, .pie {
  border: .08em solid $input-color;
}

.skill-icon {
  padding-top: 15px;
  padding-bottom: 15px;
}

.alt-font {
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*****************
  WORK CPT
*****************/
.work header.single-post, .page-header {
  height: 350px;
  text-align: center;
}

.page-header {
  background: #d6e1e4;
}

article header h1, .page-header h1 {
  @extend .header-container;
  color: $input-color
}

.metaslider {
  margin: $center-margin;
  margin-top: 60px;
}

article footer {
  padding: 30px 0;
}

.prev-post, .next-post {
  white-space: pre-line;
  display: inline-block;
  width: 50%;
}

.prev-post {
  float: right;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
  .nav.navbar-nav {
    float: right;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  .contact form {
    input:not([type="submit"]) {
      width: 32.7%;
      float: left;
      margin-right: (100% - 98.1%)/3;
      margin-bottom: 10px;
    }
  }

  .contact form {
    p:nth-of-type(3) input {
      margin-right: 0;
      width: 33%;
    }
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {}