.work img {
  max-width: $full-width;
}

.wrap.container-fluid {
  padding: 0;
}

.section-background {
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-attachment: fixed;
}

.splash-background {
  @extend .section-background;
  height: 100vh;
}

.navbar-default.nav-transparent {
  @extend .headings;
  background-color: $transparent;
  border-color: $transparent;
}

.fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
}

.headings {
  font-family: $headings-font-family;
  text-transform: $uppercase-font;
}

//.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
//  @extend .headings;
//  color: $input-color;
//  background-color: transparent;
//}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: $input-color;
}

.main-headings {
  font-family: $main-headings-font-family;
  text-transform: $uppercase-font;
}

section {
  padding: 60px 0 80px 0;
}

.c100 {
  float: none;
  margin: 0 auto;
}

h1 {
  @extend .main-headings;
  letter-spacing: 8px;
  font-size: 28px;
}

h2 {
  @extend .main-headings;
  letter-spacing: 2px;
  font-size: 20px;
}

h3 {
  @extend .headings;
  font-size: 18px;
}

body {
  font-family: $font-family-base;
  font-size: 12px;
  line-height: 2em;
}

.header-container {
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  @include translate(-50%,-50%);
}

section.contact form {
  textarea, input {
    width: $full-width;
    border: 2px solid $input-color;
    color: $input-color;
    padding: 9px 10px;
    background: none;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: $headings-font-family;
  }
}

[type=submit]:hover {
  background: $light-color;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $input-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $input-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $input-color;
}
:-moz-placeholder { /* Firefox 18- */
  color: $input-color;
}

footer {
  background: $dark-color;
  color: #fff;
}

.work {
  .single-tile {
    position: relative;
    margin-bottom: 20px;

    .caption {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      @include translate(-50%, -50%);
      padding: 9px;
      border: 2px solid $input-color;
      font-family: $headings-font-family;
      text-transform: uppercase;
    }
  }

  .single-tile {
    a {
      color: $input-color;
    }
  }

  .single-tile:hover, .single-tile:focus {
    .caption {
      opacity: 1;
    }
    img {
      opacity: .35;
    }
  }
}

//.work .single-tile:hover .caption {
//  opacity: 1;
//}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  section.contact form {
    input:not([type="submit"]) {
      width: 32.7%;
      float: left;
      margin-right: (100% - 98.1%)/3;
      margin-bottom: 10px;
    }
  }

  section.contact form {
    p:nth-of-type(3) input {
      margin-right: 0;
      width: 33%;
    }
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {}